
.menu-1{
	display: flex;
}
.menu-1 a{
	padding: 12px 20px 30px;
	background-color: #16a177;
	border: 1px solid #16a177;
	color: white;
	text-decoration: none;
	margin: 0 5px;
	font: 20px 'Arial';
}
.menu-1 a:hover, .menu-1 a.active{
	background-color: white;
	color: #16a177;
}

.menu-2 ul{
	margin-top: 50px;
	padding-left: 0;
}	
.menu-2 li{
	margin: 15px 0;
	list-style-type: none;
	
}
.menu-2 a{
	display: block;
	background-color: #16a177;
	border: 1px solid #16a177;
	color: white;
	text-decoration: none;
	margin: 0 5px;
	font: 20px 'Arial';
	width: 230px;
	padding: 15px 20px;
}
.menu-2 a:hover, .menu-2 a.active{
	background-color: white;
	color: #16a177;
}


.menu-3{
	display: flex;
}
.menu-3 a{
	padding: 12px 20px 40px;
	background-color: #16a177;
	border: 1px solid #16a177;
	color: white;
	text-decoration: none;
	width: 80px;
	text-align: center;
	font: 20px 'Arial';
}
.menu-3 a:hover, .menu-3 a.active{
	background-color: #16785C;
	color: white;
}




